In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv(r'spamcsv/spamham.csv',encoding='ISO-8859-1')
mail_data=df.where((pd.notnull(df)),'')
mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [2]:
mail_data.shape

(5572, 5)

In [3]:
mail_data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
mail_data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [5]:
mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
mail_data.rename({'v1':'category','v2':'messages'},axis=1,inplace=True)

In [7]:
mail_data.head()

  category                                           messages
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail_data.loc[mail_data['category']=='spam','category',]=0

In [9]:
mail_data.loc[mail_data['category']=='ham','category',]=1

In [10]:
X=mail_data['messages']
Y=mail_data['category']

In [11]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: messages, Length: 5572, dtype: object

In [12]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: category, Length: 5572, dtype: object

In [17]:
#test_train_split

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [15]:
#feature extraction

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

In [19]:
#convert y train,y_test into integers

In [20]:
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [21]:
print(Y_train)

1114    1
3589    1
3095    1
1012    1
3320    1
       ..
4931    1
3264    0
1653    1
2607    1
2732    1
Name: category, Length: 4457, dtype: int32

In [36]:
#svm

In [22]:
from sklearn.svm import LinearSVC
model=LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC()

In [39]:
#evaluation

In [40]:
#prediction on training

In [23]:
from sklearn.metrics import accuracy_score
prediction_on_training=model.predict(X_train_features)
accuracy_on_training=accuracy_score(Y_train,prediction_on_training)
print('ACCURACY_ON_TRAINING_DATA:',accuracy_on_training)

ACCURACY_ON_TRAINING_DATA: 1.0

In [43]:
#prediction on testing

In [24]:
prediction_on_testing=model.predict(X_test_features)
accuracy_on_testing=accuracy_score(Y_test,prediction_on_testing)
print('ACCURACY_ON_TESTING_DATA:',accuracy_on_testing)

ACCURACY_ON_TESTING_DATA: 0.9838565022421525

In [47]:
#USING DECISION TREE

from sklearn import tree

In [25]:
from sklearn import tree
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X_train_features,Y_train)

In [ ]:
#evaluation

In [56]:
#training

In [26]:
prediction_on_train=clf.predict(X_train_features)
accuracy_on_train1=accuracy_score(Y_train,prediction_on_train)
print('ACCURACY_ON_TRAINING_DATA1:',accuracy_on_train1)

ACCURACY_ON_TRAINING_DATA1: 1.0

In [94]:
#testing

In [27]:
prediction_on_test=clf.predict(X_test_features)
accuracy_on_test1=accuracy_score(Y_test,prediction_on_test)
print('ACCURACY_ON_Testing_DATA1:',accuracy_on_test1)

ACCURACY_ON_Testing_DATA1: 0.9641255605381166

In [28]:
#predict on new mail

In [29]:
input_mail=['Pls go ahead with watts. I just wanted to be sure. Do have a great weekend. Abiola,,,']
input_mail_features=feature_extraction.transform(input_mail)

In [30]:
prediction=model.predict(input_mail_features)
print(prediction)

[1]

In [31]:
if(prediction==1):
    print('HAM MAIL')
else:
    print('SPAM MAIL')

HAM MAIL